<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <appSettings>
    <!--新浪微博社区登陆接口-->
    <add key="SinaWeibo.AppKey" value="3327220446" />
    <add key="SinaWeibo.AppSercet" value="6e27c494f6420f2c7ec3cc470276b28d" />
    <add key="SinaWeibo.CallbackUrl" value="http://www.k51.com.cn/LoginCallBack.aspx" />
    <!--QQ社区登陆接口-->
    <add key="QQ.AppKey" value="101032231" />
    <add key="QQ.AppSercet" value="f02a09f994d9de18177d4633df5b3894" />
    <add key="QQ.CallbackUrl" value="http://www.k51.com.cn/LoginCallBack.aspx" />
    <add key="JsCompressor" value="true" />
    <!--视频接口参数token-->
    <add key="videokey" value="AEYB7LM8TLPAGYPTAXHV021FGXUY6QOBWG6BA1B85HH80SYU" />
    <add key="videoIV" value="7501517444177002" />
    <add key="API" value="13527887298" />
    <!--以下谨慎修改-->
    <add key="WebDAL" value="DAL" />
    <!--进行对参数进行加密解密的密钥-->
    <add key="DescKey" value="FE4A876FE6AFD559284DAA1336744F59" />
    <add key="videokey" value="AEYB7LM8TLPAGYPTAXHV021FGXUY6QOBWG6BA1B85HH80SYU" />
  </appSettings>

</configuration>
